/* SF-Pro Rounded greek */

@font-face {
  font-family: "SF-Pro";
  src: url("../../SF-Pro/Subsets/greek-SF-Pro-Rounded-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../../SF-Pro/Subsets/greek-SF-Pro-Rounded-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../../SF-Pro/Subsets/greek-SF-Pro-Rounded-Heavy.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../../SF-Pro/Subsets/greek-SF-Pro-Rounded-Light.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../../SF-Pro/Subsets/greek-SF-Pro-Rounded-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../../SF-Pro/Subsets/greek-SF-Pro-Rounded-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../../SF-Pro/Subsets/greek-SF-Pro-Rounded-Semibold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../../SF-Pro/Subsets/greek-SF-Pro-Rounded-Thin.woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../../SF-Pro/Subsets/greek-SF-Pro-Rounded-Ultralight.woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

