/* SF-Compact Rounded cyrillic */

@font-face {
  font-family: "SF-Compact";
  src: url("SF-Compact/Subsets/cyrillic-SF-Compact-Rounded-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Compact";
  src: url("SF-Compact/Subsets/cyrillic-SF-Compact-Rounded-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Compact";
  src: url("SF-Compact/Subsets/cyrillic-SF-Compact-Rounded-Heavy.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Compact";
  src: url("SF-Compact/Subsets/cyrillic-SF-Compact-Rounded-Light.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Compact";
  src: url("SF-Compact/Subsets/cyrillic-SF-Compact-Rounded-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Compact";
  src: url("SF-Compact/Subsets/cyrillic-SF-Compact-Rounded-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Compact";
  src: url("SF-Compact/Subsets/cyrillic-SF-Compact-Rounded-Semibold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Compact";
  src: url("SF-Compact/Subsets/cyrillic-SF-Compact-Rounded-Thin.woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Compact";
  src: url("SF-Compact/Subsets/cyrillic-SF-Compact-Rounded-Ultralight.woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

