@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkExtraLarge-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkExtraLarge-BlackItalic.woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkExtraLarge-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkExtraLarge-BoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkExtraLarge-Heavy.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkExtraLarge-HeavyItalic.woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkExtraLarge-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkExtraLarge-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkExtraLarge-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkExtraLarge-RegularItalic.woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkExtraLarge-Semibold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkExtraLarge-SemiboldItalic.woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkLarge-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkLarge-BlackItalic.woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkLarge-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkLarge-BoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkLarge-Heavy.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkLarge-HeavyItalic.woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkLarge-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkLarge-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkLarge-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkLarge-RegularItalic.woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkLarge-Semibold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkLarge-SemiboldItalic.woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkMedium-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkMedium-BlackItalic.woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkMedium-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkMedium-BoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkMedium-Heavy.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkMedium-HeavyItalic.woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkMedium-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkMedium-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkMedium-Regular.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkMedium-RegularItalic.woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkMedium-Semibold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkMedium-SemiboldItalic.woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkSmall-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkSmall-BlackItalic.woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkSmall-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkSmall-BoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkSmall-Heavy.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkSmall-HeavyItalic.woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkSmall-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkSmall-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkSmall-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkSmall-RegularItalic.woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkSmall-Semibold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NY";
  src: url("NY/Subsets/cyrillic-NewYorkSmall-SemiboldItalic.woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

